@import "bourbon";
// $visual-grid: true;
@import "neat";
@import "normalize";
@import "syntax";

$default-font: Georgia, serif;
$default-size: 14pt;
$default-color: rgb(69, 69, 69);
$default-line-height: 21pt;
$header-font: "Helvetica Neue", Helvetica, sans-serif;
$code-font: monospace;

$max-width: 960px;

body, blockquote, a, li, strong {
  font-family: $default-font;
  color: $default-color;
  -webkit-font-smoothing: antialiased;
}

body, p, a, em, strong {
	font-size: $default-size;
}

h1, h2, h3, h4 {
	font-family: $header-font;
	color: $default-color;
	-webkit-font-smoothing: antialiased;
}	

h1 {
	font-size: 2.2em;
	margin-bottom: 0px;
}

h2 {
	margin-bottom: 0px;
}

h2 + p {
	margin-top: 10px;
}

body {
	background-color: #fff;

}

p {
	line-height: $default-line-height;
}

a {
	color: rgb(187, 0, 0);
}

blockquote {
	color: rgb(142, 142, 142);
	border-left: 1px dotted rgb(192, 192, 192);
	margin-left: 0;
	padding-left: 2em;

	a {
		color: rgb(132, 132, 132);
	}
}

code, pre {
	font-family: $code-font;
}

.container {
	@include outer-container;
	padding: 0 10px;
}

.content {
	padding-bottom: 50px;
}

.meta {
	font-family: $header-font;
	font-size: 0.9em;
	font-weight: 500;
	margin-top: 0;
	color: rgb(162, 162, 162);
}

.post pre {
	margin-left: 2em;
	font-size: 80%;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.post img {
	max-width: 100% !important;
}

.posts {
	list-style-type: none;

	.post {
		margin-bottom: 150px;

		&:last-child {
			margin-bottom: 50px;
		}
	}
}

a.perma {
	text-decoration: none;
	color: $default-color;

	&:hover {
		text-decoration: underline;
	}
}

.header {
	@include row;
	// height: 130px;
	margin-bottom: 20px;

	.avatar {
			border-radius: 50%;
			box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2);
			width: 90px;
			height: 90px;
			margin-top: 20px;
		}

	.aside {
		@include span-columns(2 of 12);
		text-align: center;	
	}

	.bside {
		@include span-columns(10 of 12);
		// @include shift(1);
		@include omega;

		p {
			margin-top: 40px;
		}

		.avatar {
			display: none;
		}
	}
}

.clearfix {
	clear: both;
}

.posts {
	padding: 0;

	li, li a {
		font-size: 15pt;
		line-height: 24pt;
	}

	li {
		@include row;

		span {
			@include span-columns(4 of 12);
			text-align: right;
		}

		a {
			@include span-columns(8 of 12);
			@include omega;
			text-decoration: none;
		}
	}
}

.archive {
	h2 {
		font-size: 22pt;
	}

	h3 {
		font-size: 16pt;
		margin-top: 5px;
		text-indent: 20px; 
		color: #666;
		margin-bottom: 10px;
	}

	ul {
		padding-left: 70px;
		margin-top: 0px;
	}
}

@include media(max-width 600px) {
	.header {
		p {
			font-size: 0.9em;
			line-height: 1.5em;
		}

		.aside {
			display: none;
		}

		.bside {
			@include span-columns(12 of 12);
			text-align: center;

			p {
				margin-top: 10px;
			}

			.avatar {
				display: inline;
			}
		}
	}

	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.4em;
	}

	p {
		font-size: 0.9em;
	}
}