<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Droid+Mono:400,700' rel='stylesheet' type='text/css'>
	<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="RSS feed"/>
        <!-- syntax highlighting CSS -->
        {% stylesheet main %}
        {% if page.custom_css %}{{ page.custom_css | stylesheet }}{% endif %}

    </head>
    <body>
      <div class="container">
        <div class="header-container">
          <header class="header">
            
            <div class="bside">
              <p>Hi! I'm Kristian. I'm an iOS &amp; Frontend Developer at <a href="http://robo.cat">Robocat</a> where I do <a href="http://televisedapp.com/">Televised</a> and a million other awesome things. I love <a href="http://github.com/ksmandersen">GitHub</a> and I <a href="http://twitter.com/ksmandersen">Tweet</a> a lot.</p>
            </div>
            <div class="aside">
              <a href="/"><img class="avatar" src="http://robocatapps.com/images/andersen-x2.jpg" /></a>
            </div>
          </header>
        </div>

        <div class="content-container">
          <section role="main" class="content">
            {{ content }}
          </section>
        </div>

        <div class="footer-container">
          <footer class="footer"></footer>
        </div>

        </div>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-23025516-2', 'kristian.co');
          ga('send', 'pageview');

        </script>
    </body>
</html>
